# Ignore dataset repositories
dataset_*/

# Ignore environment files
.venv
.venv/
.venv/*
.env
.env/
.env/*
.venv*
.venv*/
.venv*/*
.env*
.env*/
.env*/*
*/.venv*/*
*/*/.venv*/*
*/*/*/.venv*/*
*/*/*/*/*/*/*/.venv
*/*/*/*/*/*/.venv

# Ignore PowerPoint files
*.ppt
*.pptx
*.pptm
*.pot
*.potx
*.potm
*.pps
*.ppsx
*.ppsm

# Ignore all ZIP files
*.zip

# Ignore all CSV files
*.csv
